@media (min-width: 576px) {
  .ms-sm-auto {
    margin-left: auto;
  }

  .ps-sm-auto {
    padding-left: auto;
  }

  .mt-sm-auto {
    margin-top: auto;
  }

  .pt-sm-auto {
    padding-top: auto;
  }

  .me-sm-auto {
    margin-right: auto;
  }

  .pe-sm-auto {
    padding-right: auto;
  }

  .mb-sm-auto {
    margin-bottom: auto;
  }

  .pb-sm-auto {
    padding-bottom: auto;
  }

  .mx-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .px-sm-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .my-sm-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .py-sm-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .m-sm-auto {
    margin: auto;
  }

  .p-sm-auto {
    padding: auto;
  }

  .ms-sm-0 {
    margin-left: 0;
  }

  .ps-sm-0 {
    padding-left: 0;
  }

  .mt-sm-0 {
    margin-top: 0;
  }

  .pt-sm-0 {
    padding-top: 0;
  }

  .me-sm-0 {
    margin-right: 0;
  }

  .pe-sm-0 {
    padding-right: 0;
  }

  .mb-sm-0 {
    margin-bottom: 0;
  }

  .pb-sm-0 {
    padding-bottom: 0;
  }

  .mx-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .py-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .m-sm-0 {
    margin: 0;
  }

  .p-sm-0 {
    padding: 0;
  }

  .ms-sm-1 {
    margin-left: 0.25rem;
  }

  .ps-sm-1 {
    padding-left: 0.25rem;
  }

  .mt-sm-1 {
    margin-top: 0.25rem;
  }

  .pt-sm-1 {
    padding-top: 0.25rem;
  }

  .me-sm-1 {
    margin-right: 0.25rem;
  }

  .pe-sm-1 {
    padding-right: 0.25rem;
  }

  .mb-sm-1 {
    margin-bottom: 0.25rem;
  }

  .pb-sm-1 {
    padding-bottom: 0.25rem;
  }

  .mx-sm-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .px-sm-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .my-sm-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .py-sm-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .m-sm-1 {
    margin: 0.25rem;
  }

  .p-sm-1 {
    padding: 0.25rem;
  }

  .ms-sm-2 {
    margin-left: 0.5rem;
  }

  .ps-sm-2 {
    padding-left: 0.5rem;
  }

  .mt-sm-2 {
    margin-top: 0.5rem;
  }

  .pt-sm-2 {
    padding-top: 0.5rem;
  }

  .me-sm-2 {
    margin-right: 0.5rem;
  }

  .pe-sm-2 {
    padding-right: 0.5rem;
  }

  .mb-sm-2 {
    margin-bottom: 0.5rem;
  }

  .pb-sm-2 {
    padding-bottom: 0.5rem;
  }

  .mx-sm-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .px-sm-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .my-sm-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .py-sm-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .m-sm-2 {
    margin: 0.5rem;
  }

  .p-sm-2 {
    padding: 0.5rem;
  }

  .ms-sm-3 {
    margin-left: 1rem;
  }

  .ps-sm-3 {
    padding-left: 1rem;
  }

  .mt-sm-3 {
    margin-top: 1rem;
  }

  .pt-sm-3 {
    padding-top: 1rem;
  }

  .me-sm-3 {
    margin-right: 1rem;
  }

  .pe-sm-3 {
    padding-right: 1rem;
  }

  .mb-sm-3 {
    margin-bottom: 1rem;
  }

  .pb-sm-3 {
    padding-bottom: 1rem;
  }

  .mx-sm-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .px-sm-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .my-sm-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .py-sm-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-sm-3 {
    margin: 1rem;
  }

  .p-sm-3 {
    padding: 1rem;
  }

  .ms-sm-4 {
    margin-left: 1.5rem;
  }

  .ps-sm-4 {
    padding-left: 1.5rem;
  }

  .mt-sm-4 {
    margin-top: 1.5rem;
  }

  .pt-sm-4 {
    padding-top: 1.5rem;
  }

  .me-sm-4 {
    margin-right: 1.5rem;
  }

  .pe-sm-4 {
    padding-right: 1.5rem;
  }

  .mb-sm-4 {
    margin-bottom: 1.5rem;
  }

  .pb-sm-4 {
    padding-bottom: 1.5rem;
  }

  .mx-sm-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .px-sm-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .my-sm-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .py-sm-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .m-sm-4 {
    margin: 1.5rem;
  }

  .p-sm-4 {
    padding: 1.5rem;
  }

  .ms-sm-5 {
    margin-left: 2rem;
  }

  .ps-sm-5 {
    padding-left: 2rem;
  }

  .mt-sm-5 {
    margin-top: 2rem;
  }

  .pt-sm-5 {
    padding-top: 2rem;
  }

  .me-sm-5 {
    margin-right: 2rem;
  }

  .pe-sm-5 {
    padding-right: 2rem;
  }

  .mb-sm-5 {
    margin-bottom: 2rem;
  }

  .pb-sm-5 {
    padding-bottom: 2rem;
  }

  .mx-sm-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-sm-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .my-sm-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .py-sm-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .m-sm-5 {
    margin: 2rem;
  }

  .p-sm-5 {
    padding: 2rem;
  }

  .ms-sm-6 {
    margin-left: 3rem;
  }

  .ps-sm-6 {
    padding-left: 3rem;
  }

  .mt-sm-6 {
    margin-top: 3rem;
  }

  .pt-sm-6 {
    padding-top: 3rem;
  }

  .me-sm-6 {
    margin-right: 3rem;
  }

  .pe-sm-6 {
    padding-right: 3rem;
  }

  .mb-sm-6 {
    margin-bottom: 3rem;
  }

  .pb-sm-6 {
    padding-bottom: 3rem;
  }

  .mx-sm-6 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .px-sm-6 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .my-sm-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .py-sm-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .m-sm-6 {
    margin: 3rem;
  }

  .p-sm-6 {
    padding: 3rem;
  }

  .ms-sm-7 {
    margin-left: 4rem;
  }

  .ps-sm-7 {
    padding-left: 4rem;
  }

  .mt-sm-7 {
    margin-top: 4rem;
  }

  .pt-sm-7 {
    padding-top: 4rem;
  }

  .me-sm-7 {
    margin-right: 4rem;
  }

  .pe-sm-7 {
    padding-right: 4rem;
  }

  .mb-sm-7 {
    margin-bottom: 4rem;
  }

  .pb-sm-7 {
    padding-bottom: 4rem;
  }

  .mx-sm-7 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .px-sm-7 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .my-sm-7 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .py-sm-7 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .m-sm-7 {
    margin: 4rem;
  }

  .p-sm-7 {
    padding: 4rem;
  }
}
@media (min-width: 768px) {
  .ms-md-auto {
    margin-left: auto;
  }

  .ps-md-auto {
    padding-left: auto;
  }

  .mt-md-auto {
    margin-top: auto;
  }

  .pt-md-auto {
    padding-top: auto;
  }

  .me-md-auto {
    margin-right: auto;
  }

  .pe-md-auto {
    padding-right: auto;
  }

  .mb-md-auto {
    margin-bottom: auto;
  }

  .pb-md-auto {
    padding-bottom: auto;
  }

  .mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .px-md-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .my-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .py-md-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .m-md-auto {
    margin: auto;
  }

  .p-md-auto {
    padding: auto;
  }

  .ms-md-0 {
    margin-left: 0;
  }

  .ps-md-0 {
    padding-left: 0;
  }

  .mt-md-0 {
    margin-top: 0;
  }

  .pt-md-0 {
    padding-top: 0;
  }

  .me-md-0 {
    margin-right: 0;
  }

  .pe-md-0 {
    padding-right: 0;
  }

  .mb-md-0 {
    margin-bottom: 0;
  }

  .pb-md-0 {
    padding-bottom: 0;
  }

  .mx-md-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .my-md-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .m-md-0 {
    margin: 0;
  }

  .p-md-0 {
    padding: 0;
  }

  .ms-md-1 {
    margin-left: 0.25rem;
  }

  .ps-md-1 {
    padding-left: 0.25rem;
  }

  .mt-md-1 {
    margin-top: 0.25rem;
  }

  .pt-md-1 {
    padding-top: 0.25rem;
  }

  .me-md-1 {
    margin-right: 0.25rem;
  }

  .pe-md-1 {
    padding-right: 0.25rem;
  }

  .mb-md-1 {
    margin-bottom: 0.25rem;
  }

  .pb-md-1 {
    padding-bottom: 0.25rem;
  }

  .mx-md-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .px-md-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .my-md-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .py-md-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .m-md-1 {
    margin: 0.25rem;
  }

  .p-md-1 {
    padding: 0.25rem;
  }

  .ms-md-2 {
    margin-left: 0.5rem;
  }

  .ps-md-2 {
    padding-left: 0.5rem;
  }

  .mt-md-2 {
    margin-top: 0.5rem;
  }

  .pt-md-2 {
    padding-top: 0.5rem;
  }

  .me-md-2 {
    margin-right: 0.5rem;
  }

  .pe-md-2 {
    padding-right: 0.5rem;
  }

  .mb-md-2 {
    margin-bottom: 0.5rem;
  }

  .pb-md-2 {
    padding-bottom: 0.5rem;
  }

  .mx-md-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .px-md-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .my-md-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .py-md-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .m-md-2 {
    margin: 0.5rem;
  }

  .p-md-2 {
    padding: 0.5rem;
  }

  .ms-md-3 {
    margin-left: 1rem;
  }

  .ps-md-3 {
    padding-left: 1rem;
  }

  .mt-md-3 {
    margin-top: 1rem;
  }

  .pt-md-3 {
    padding-top: 1rem;
  }

  .me-md-3 {
    margin-right: 1rem;
  }

  .pe-md-3 {
    padding-right: 1rem;
  }

  .mb-md-3 {
    margin-bottom: 1rem;
  }

  .pb-md-3 {
    padding-bottom: 1rem;
  }

  .mx-md-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .px-md-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .my-md-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .py-md-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-md-3 {
    margin: 1rem;
  }

  .p-md-3 {
    padding: 1rem;
  }

  .ms-md-4 {
    margin-left: 1.5rem;
  }

  .ps-md-4 {
    padding-left: 1.5rem;
  }

  .mt-md-4 {
    margin-top: 1.5rem;
  }

  .pt-md-4 {
    padding-top: 1.5rem;
  }

  .me-md-4 {
    margin-right: 1.5rem;
  }

  .pe-md-4 {
    padding-right: 1.5rem;
  }

  .mb-md-4 {
    margin-bottom: 1.5rem;
  }

  .pb-md-4 {
    padding-bottom: 1.5rem;
  }

  .mx-md-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .px-md-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .my-md-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .py-md-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .m-md-4 {
    margin: 1.5rem;
  }

  .p-md-4 {
    padding: 1.5rem;
  }

  .ms-md-5 {
    margin-left: 2rem;
  }

  .ps-md-5 {
    padding-left: 2rem;
  }

  .mt-md-5 {
    margin-top: 2rem;
  }

  .pt-md-5 {
    padding-top: 2rem;
  }

  .me-md-5 {
    margin-right: 2rem;
  }

  .pe-md-5 {
    padding-right: 2rem;
  }

  .mb-md-5 {
    margin-bottom: 2rem;
  }

  .pb-md-5 {
    padding-bottom: 2rem;
  }

  .mx-md-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-md-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .my-md-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .py-md-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .m-md-5 {
    margin: 2rem;
  }

  .p-md-5 {
    padding: 2rem;
  }

  .ms-md-6 {
    margin-left: 3rem;
  }

  .ps-md-6 {
    padding-left: 3rem;
  }

  .mt-md-6 {
    margin-top: 3rem;
  }

  .pt-md-6 {
    padding-top: 3rem;
  }

  .me-md-6 {
    margin-right: 3rem;
  }

  .pe-md-6 {
    padding-right: 3rem;
  }

  .mb-md-6 {
    margin-bottom: 3rem;
  }

  .pb-md-6 {
    padding-bottom: 3rem;
  }

  .mx-md-6 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .px-md-6 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .my-md-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .py-md-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .m-md-6 {
    margin: 3rem;
  }

  .p-md-6 {
    padding: 3rem;
  }

  .ms-md-7 {
    margin-left: 4rem;
  }

  .ps-md-7 {
    padding-left: 4rem;
  }

  .mt-md-7 {
    margin-top: 4rem;
  }

  .pt-md-7 {
    padding-top: 4rem;
  }

  .me-md-7 {
    margin-right: 4rem;
  }

  .pe-md-7 {
    padding-right: 4rem;
  }

  .mb-md-7 {
    margin-bottom: 4rem;
  }

  .pb-md-7 {
    padding-bottom: 4rem;
  }

  .mx-md-7 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .px-md-7 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .my-md-7 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .py-md-7 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .m-md-7 {
    margin: 4rem;
  }

  .p-md-7 {
    padding: 4rem;
  }
}
@media (min-width: 992px) {
  .ms-lg-auto {
    margin-left: auto;
  }

  .ps-lg-auto {
    padding-left: auto;
  }

  .mt-lg-auto {
    margin-top: auto;
  }

  .pt-lg-auto {
    padding-top: auto;
  }

  .me-lg-auto {
    margin-right: auto;
  }

  .pe-lg-auto {
    padding-right: auto;
  }

  .mb-lg-auto {
    margin-bottom: auto;
  }

  .pb-lg-auto {
    padding-bottom: auto;
  }

  .mx-lg-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .px-lg-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .my-lg-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .py-lg-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .m-lg-auto {
    margin: auto;
  }

  .p-lg-auto {
    padding: auto;
  }

  .ms-lg-0 {
    margin-left: 0;
  }

  .ps-lg-0 {
    padding-left: 0;
  }

  .mt-lg-0 {
    margin-top: 0;
  }

  .pt-lg-0 {
    padding-top: 0;
  }

  .me-lg-0 {
    margin-right: 0;
  }

  .pe-lg-0 {
    padding-right: 0;
  }

  .mb-lg-0 {
    margin-bottom: 0;
  }

  .pb-lg-0 {
    padding-bottom: 0;
  }

  .mx-lg-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .px-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .my-lg-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .py-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .m-lg-0 {
    margin: 0;
  }

  .p-lg-0 {
    padding: 0;
  }

  .ms-lg-1 {
    margin-left: 0.25rem;
  }

  .ps-lg-1 {
    padding-left: 0.25rem;
  }

  .mt-lg-1 {
    margin-top: 0.25rem;
  }

  .pt-lg-1 {
    padding-top: 0.25rem;
  }

  .me-lg-1 {
    margin-right: 0.25rem;
  }

  .pe-lg-1 {
    padding-right: 0.25rem;
  }

  .mb-lg-1 {
    margin-bottom: 0.25rem;
  }

  .pb-lg-1 {
    padding-bottom: 0.25rem;
  }

  .mx-lg-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .px-lg-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .my-lg-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .py-lg-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .m-lg-1 {
    margin: 0.25rem;
  }

  .p-lg-1 {
    padding: 0.25rem;
  }

  .ms-lg-2 {
    margin-left: 0.5rem;
  }

  .ps-lg-2 {
    padding-left: 0.5rem;
  }

  .mt-lg-2 {
    margin-top: 0.5rem;
  }

  .pt-lg-2 {
    padding-top: 0.5rem;
  }

  .me-lg-2 {
    margin-right: 0.5rem;
  }

  .pe-lg-2 {
    padding-right: 0.5rem;
  }

  .mb-lg-2 {
    margin-bottom: 0.5rem;
  }

  .pb-lg-2 {
    padding-bottom: 0.5rem;
  }

  .mx-lg-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .px-lg-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .my-lg-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .py-lg-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .m-lg-2 {
    margin: 0.5rem;
  }

  .p-lg-2 {
    padding: 0.5rem;
  }

  .ms-lg-3 {
    margin-left: 1rem;
  }

  .ps-lg-3 {
    padding-left: 1rem;
  }

  .mt-lg-3 {
    margin-top: 1rem;
  }

  .pt-lg-3 {
    padding-top: 1rem;
  }

  .me-lg-3 {
    margin-right: 1rem;
  }

  .pe-lg-3 {
    padding-right: 1rem;
  }

  .mb-lg-3 {
    margin-bottom: 1rem;
  }

  .pb-lg-3 {
    padding-bottom: 1rem;
  }

  .mx-lg-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .px-lg-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .my-lg-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .py-lg-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-lg-3 {
    margin: 1rem;
  }

  .p-lg-3 {
    padding: 1rem;
  }

  .ms-lg-4 {
    margin-left: 1.5rem;
  }

  .ps-lg-4 {
    padding-left: 1.5rem;
  }

  .mt-lg-4 {
    margin-top: 1.5rem;
  }

  .pt-lg-4 {
    padding-top: 1.5rem;
  }

  .me-lg-4 {
    margin-right: 1.5rem;
  }

  .pe-lg-4 {
    padding-right: 1.5rem;
  }

  .mb-lg-4 {
    margin-bottom: 1.5rem;
  }

  .pb-lg-4 {
    padding-bottom: 1.5rem;
  }

  .mx-lg-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .px-lg-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .my-lg-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .py-lg-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .m-lg-4 {
    margin: 1.5rem;
  }

  .p-lg-4 {
    padding: 1.5rem;
  }

  .ms-lg-5 {
    margin-left: 2rem;
  }

  .ps-lg-5 {
    padding-left: 2rem;
  }

  .mt-lg-5 {
    margin-top: 2rem;
  }

  .pt-lg-5 {
    padding-top: 2rem;
  }

  .me-lg-5 {
    margin-right: 2rem;
  }

  .pe-lg-5 {
    padding-right: 2rem;
  }

  .mb-lg-5 {
    margin-bottom: 2rem;
  }

  .pb-lg-5 {
    padding-bottom: 2rem;
  }

  .mx-lg-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-lg-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .my-lg-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .py-lg-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .m-lg-5 {
    margin: 2rem;
  }

  .p-lg-5 {
    padding: 2rem;
  }

  .ms-lg-6 {
    margin-left: 3rem;
  }

  .ps-lg-6 {
    padding-left: 3rem;
  }

  .mt-lg-6 {
    margin-top: 3rem;
  }

  .pt-lg-6 {
    padding-top: 3rem;
  }

  .me-lg-6 {
    margin-right: 3rem;
  }

  .pe-lg-6 {
    padding-right: 3rem;
  }

  .mb-lg-6 {
    margin-bottom: 3rem;
  }

  .pb-lg-6 {
    padding-bottom: 3rem;
  }

  .mx-lg-6 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .px-lg-6 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .my-lg-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .py-lg-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .m-lg-6 {
    margin: 3rem;
  }

  .p-lg-6 {
    padding: 3rem;
  }

  .ms-lg-7 {
    margin-left: 4rem;
  }

  .ps-lg-7 {
    padding-left: 4rem;
  }

  .mt-lg-7 {
    margin-top: 4rem;
  }

  .pt-lg-7 {
    padding-top: 4rem;
  }

  .me-lg-7 {
    margin-right: 4rem;
  }

  .pe-lg-7 {
    padding-right: 4rem;
  }

  .mb-lg-7 {
    margin-bottom: 4rem;
  }

  .pb-lg-7 {
    padding-bottom: 4rem;
  }

  .mx-lg-7 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .px-lg-7 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .my-lg-7 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .py-lg-7 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .m-lg-7 {
    margin: 4rem;
  }

  .p-lg-7 {
    padding: 4rem;
  }
}
@media (min-width: 1200px) {
  .ms-xl-auto {
    margin-left: auto;
  }

  .ps-xl-auto {
    padding-left: auto;
  }

  .mt-xl-auto {
    margin-top: auto;
  }

  .pt-xl-auto {
    padding-top: auto;
  }

  .me-xl-auto {
    margin-right: auto;
  }

  .pe-xl-auto {
    padding-right: auto;
  }

  .mb-xl-auto {
    margin-bottom: auto;
  }

  .pb-xl-auto {
    padding-bottom: auto;
  }

  .mx-xl-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .px-xl-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .my-xl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .py-xl-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .m-xl-auto {
    margin: auto;
  }

  .p-xl-auto {
    padding: auto;
  }

  .ms-xl-0 {
    margin-left: 0;
  }

  .ps-xl-0 {
    padding-left: 0;
  }

  .mt-xl-0 {
    margin-top: 0;
  }

  .pt-xl-0 {
    padding-top: 0;
  }

  .me-xl-0 {
    margin-right: 0;
  }

  .pe-xl-0 {
    padding-right: 0;
  }

  .mb-xl-0 {
    margin-bottom: 0;
  }

  .pb-xl-0 {
    padding-bottom: 0;
  }

  .mx-xl-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .px-xl-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .my-xl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .py-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .m-xl-0 {
    margin: 0;
  }

  .p-xl-0 {
    padding: 0;
  }

  .ms-xl-1 {
    margin-left: 0.25rem;
  }

  .ps-xl-1 {
    padding-left: 0.25rem;
  }

  .mt-xl-1 {
    margin-top: 0.25rem;
  }

  .pt-xl-1 {
    padding-top: 0.25rem;
  }

  .me-xl-1 {
    margin-right: 0.25rem;
  }

  .pe-xl-1 {
    padding-right: 0.25rem;
  }

  .mb-xl-1 {
    margin-bottom: 0.25rem;
  }

  .pb-xl-1 {
    padding-bottom: 0.25rem;
  }

  .mx-xl-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .px-xl-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .my-xl-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .py-xl-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .m-xl-1 {
    margin: 0.25rem;
  }

  .p-xl-1 {
    padding: 0.25rem;
  }

  .ms-xl-2 {
    margin-left: 0.5rem;
  }

  .ps-xl-2 {
    padding-left: 0.5rem;
  }

  .mt-xl-2 {
    margin-top: 0.5rem;
  }

  .pt-xl-2 {
    padding-top: 0.5rem;
  }

  .me-xl-2 {
    margin-right: 0.5rem;
  }

  .pe-xl-2 {
    padding-right: 0.5rem;
  }

  .mb-xl-2 {
    margin-bottom: 0.5rem;
  }

  .pb-xl-2 {
    padding-bottom: 0.5rem;
  }

  .mx-xl-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .px-xl-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .my-xl-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .py-xl-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .m-xl-2 {
    margin: 0.5rem;
  }

  .p-xl-2 {
    padding: 0.5rem;
  }

  .ms-xl-3 {
    margin-left: 1rem;
  }

  .ps-xl-3 {
    padding-left: 1rem;
  }

  .mt-xl-3 {
    margin-top: 1rem;
  }

  .pt-xl-3 {
    padding-top: 1rem;
  }

  .me-xl-3 {
    margin-right: 1rem;
  }

  .pe-xl-3 {
    padding-right: 1rem;
  }

  .mb-xl-3 {
    margin-bottom: 1rem;
  }

  .pb-xl-3 {
    padding-bottom: 1rem;
  }

  .mx-xl-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .px-xl-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .my-xl-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .py-xl-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-xl-3 {
    margin: 1rem;
  }

  .p-xl-3 {
    padding: 1rem;
  }

  .ms-xl-4 {
    margin-left: 1.5rem;
  }

  .ps-xl-4 {
    padding-left: 1.5rem;
  }

  .mt-xl-4 {
    margin-top: 1.5rem;
  }

  .pt-xl-4 {
    padding-top: 1.5rem;
  }

  .me-xl-4 {
    margin-right: 1.5rem;
  }

  .pe-xl-4 {
    padding-right: 1.5rem;
  }

  .mb-xl-4 {
    margin-bottom: 1.5rem;
  }

  .pb-xl-4 {
    padding-bottom: 1.5rem;
  }

  .mx-xl-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .px-xl-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .my-xl-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .py-xl-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .m-xl-4 {
    margin: 1.5rem;
  }

  .p-xl-4 {
    padding: 1.5rem;
  }

  .ms-xl-5 {
    margin-left: 2rem;
  }

  .ps-xl-5 {
    padding-left: 2rem;
  }

  .mt-xl-5 {
    margin-top: 2rem;
  }

  .pt-xl-5 {
    padding-top: 2rem;
  }

  .me-xl-5 {
    margin-right: 2rem;
  }

  .pe-xl-5 {
    padding-right: 2rem;
  }

  .mb-xl-5 {
    margin-bottom: 2rem;
  }

  .pb-xl-5 {
    padding-bottom: 2rem;
  }

  .mx-xl-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-xl-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .my-xl-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .py-xl-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .m-xl-5 {
    margin: 2rem;
  }

  .p-xl-5 {
    padding: 2rem;
  }

  .ms-xl-6 {
    margin-left: 3rem;
  }

  .ps-xl-6 {
    padding-left: 3rem;
  }

  .mt-xl-6 {
    margin-top: 3rem;
  }

  .pt-xl-6 {
    padding-top: 3rem;
  }

  .me-xl-6 {
    margin-right: 3rem;
  }

  .pe-xl-6 {
    padding-right: 3rem;
  }

  .mb-xl-6 {
    margin-bottom: 3rem;
  }

  .pb-xl-6 {
    padding-bottom: 3rem;
  }

  .mx-xl-6 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .px-xl-6 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .my-xl-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .py-xl-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .m-xl-6 {
    margin: 3rem;
  }

  .p-xl-6 {
    padding: 3rem;
  }

  .ms-xl-7 {
    margin-left: 4rem;
  }

  .ps-xl-7 {
    padding-left: 4rem;
  }

  .mt-xl-7 {
    margin-top: 4rem;
  }

  .pt-xl-7 {
    padding-top: 4rem;
  }

  .me-xl-7 {
    margin-right: 4rem;
  }

  .pe-xl-7 {
    padding-right: 4rem;
  }

  .mb-xl-7 {
    margin-bottom: 4rem;
  }

  .pb-xl-7 {
    padding-bottom: 4rem;
  }

  .mx-xl-7 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .px-xl-7 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .my-xl-7 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .py-xl-7 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .m-xl-7 {
    margin: 4rem;
  }

  .p-xl-7 {
    padding: 4rem;
  }
}
@media (min-width: 1400px) {
  .ms-xxl-auto {
    margin-left: auto;
  }

  .ps-xxl-auto {
    padding-left: auto;
  }

  .mt-xxl-auto {
    margin-top: auto;
  }

  .pt-xxl-auto {
    padding-top: auto;
  }

  .me-xxl-auto {
    margin-right: auto;
  }

  .pe-xxl-auto {
    padding-right: auto;
  }

  .mb-xxl-auto {
    margin-bottom: auto;
  }

  .pb-xxl-auto {
    padding-bottom: auto;
  }

  .mx-xxl-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .px-xxl-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .my-xxl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .py-xxl-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .m-xxl-auto {
    margin: auto;
  }

  .p-xxl-auto {
    padding: auto;
  }

  .ms-xxl-0 {
    margin-left: 0;
  }

  .ps-xxl-0 {
    padding-left: 0;
  }

  .mt-xxl-0 {
    margin-top: 0;
  }

  .pt-xxl-0 {
    padding-top: 0;
  }

  .me-xxl-0 {
    margin-right: 0;
  }

  .pe-xxl-0 {
    padding-right: 0;
  }

  .mb-xxl-0 {
    margin-bottom: 0;
  }

  .pb-xxl-0 {
    padding-bottom: 0;
  }

  .mx-xxl-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .px-xxl-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .my-xxl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .py-xxl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .m-xxl-0 {
    margin: 0;
  }

  .p-xxl-0 {
    padding: 0;
  }

  .ms-xxl-1 {
    margin-left: 0.25rem;
  }

  .ps-xxl-1 {
    padding-left: 0.25rem;
  }

  .mt-xxl-1 {
    margin-top: 0.25rem;
  }

  .pt-xxl-1 {
    padding-top: 0.25rem;
  }

  .me-xxl-1 {
    margin-right: 0.25rem;
  }

  .pe-xxl-1 {
    padding-right: 0.25rem;
  }

  .mb-xxl-1 {
    margin-bottom: 0.25rem;
  }

  .pb-xxl-1 {
    padding-bottom: 0.25rem;
  }

  .mx-xxl-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .px-xxl-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .my-xxl-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .py-xxl-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .m-xxl-1 {
    margin: 0.25rem;
  }

  .p-xxl-1 {
    padding: 0.25rem;
  }

  .ms-xxl-2 {
    margin-left: 0.5rem;
  }

  .ps-xxl-2 {
    padding-left: 0.5rem;
  }

  .mt-xxl-2 {
    margin-top: 0.5rem;
  }

  .pt-xxl-2 {
    padding-top: 0.5rem;
  }

  .me-xxl-2 {
    margin-right: 0.5rem;
  }

  .pe-xxl-2 {
    padding-right: 0.5rem;
  }

  .mb-xxl-2 {
    margin-bottom: 0.5rem;
  }

  .pb-xxl-2 {
    padding-bottom: 0.5rem;
  }

  .mx-xxl-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .px-xxl-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .my-xxl-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .py-xxl-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .m-xxl-2 {
    margin: 0.5rem;
  }

  .p-xxl-2 {
    padding: 0.5rem;
  }

  .ms-xxl-3 {
    margin-left: 1rem;
  }

  .ps-xxl-3 {
    padding-left: 1rem;
  }

  .mt-xxl-3 {
    margin-top: 1rem;
  }

  .pt-xxl-3 {
    padding-top: 1rem;
  }

  .me-xxl-3 {
    margin-right: 1rem;
  }

  .pe-xxl-3 {
    padding-right: 1rem;
  }

  .mb-xxl-3 {
    margin-bottom: 1rem;
  }

  .pb-xxl-3 {
    padding-bottom: 1rem;
  }

  .mx-xxl-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .px-xxl-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .my-xxl-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .py-xxl-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-xxl-3 {
    margin: 1rem;
  }

  .p-xxl-3 {
    padding: 1rem;
  }

  .ms-xxl-4 {
    margin-left: 1.5rem;
  }

  .ps-xxl-4 {
    padding-left: 1.5rem;
  }

  .mt-xxl-4 {
    margin-top: 1.5rem;
  }

  .pt-xxl-4 {
    padding-top: 1.5rem;
  }

  .me-xxl-4 {
    margin-right: 1.5rem;
  }

  .pe-xxl-4 {
    padding-right: 1.5rem;
  }

  .mb-xxl-4 {
    margin-bottom: 1.5rem;
  }

  .pb-xxl-4 {
    padding-bottom: 1.5rem;
  }

  .mx-xxl-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .px-xxl-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .my-xxl-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .py-xxl-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .m-xxl-4 {
    margin: 1.5rem;
  }

  .p-xxl-4 {
    padding: 1.5rem;
  }

  .ms-xxl-5 {
    margin-left: 2rem;
  }

  .ps-xxl-5 {
    padding-left: 2rem;
  }

  .mt-xxl-5 {
    margin-top: 2rem;
  }

  .pt-xxl-5 {
    padding-top: 2rem;
  }

  .me-xxl-5 {
    margin-right: 2rem;
  }

  .pe-xxl-5 {
    padding-right: 2rem;
  }

  .mb-xxl-5 {
    margin-bottom: 2rem;
  }

  .pb-xxl-5 {
    padding-bottom: 2rem;
  }

  .mx-xxl-5 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .px-xxl-5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .my-xxl-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .py-xxl-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .m-xxl-5 {
    margin: 2rem;
  }

  .p-xxl-5 {
    padding: 2rem;
  }

  .ms-xxl-6 {
    margin-left: 3rem;
  }

  .ps-xxl-6 {
    padding-left: 3rem;
  }

  .mt-xxl-6 {
    margin-top: 3rem;
  }

  .pt-xxl-6 {
    padding-top: 3rem;
  }

  .me-xxl-6 {
    margin-right: 3rem;
  }

  .pe-xxl-6 {
    padding-right: 3rem;
  }

  .mb-xxl-6 {
    margin-bottom: 3rem;
  }

  .pb-xxl-6 {
    padding-bottom: 3rem;
  }

  .mx-xxl-6 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .px-xxl-6 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .my-xxl-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .py-xxl-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .m-xxl-6 {
    margin: 3rem;
  }

  .p-xxl-6 {
    padding: 3rem;
  }

  .ms-xxl-7 {
    margin-left: 4rem;
  }

  .ps-xxl-7 {
    padding-left: 4rem;
  }

  .mt-xxl-7 {
    margin-top: 4rem;
  }

  .pt-xxl-7 {
    padding-top: 4rem;
  }

  .me-xxl-7 {
    margin-right: 4rem;
  }

  .pe-xxl-7 {
    padding-right: 4rem;
  }

  .mb-xxl-7 {
    margin-bottom: 4rem;
  }

  .pb-xxl-7 {
    padding-bottom: 4rem;
  }

  .mx-xxl-7 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .px-xxl-7 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .my-xxl-7 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .py-xxl-7 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .m-xxl-7 {
    margin: 4rem;
  }

  .p-xxl-7 {
    padding: 4rem;
  }
}
.ms-auto {
  margin-left: auto;
}

.ps-auto {
  padding-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.pt-auto {
  padding-top: auto;
}

.me-auto {
  margin-right: auto;
}

.pe-auto {
  padding-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.m-auto {
  margin: auto;
}

.p-auto {
  padding: auto;
}

.ms-0 {
  margin-left: 0;
}

.ps-0 {
  padding-left: 0;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.me-0 {
  margin-right: 0;
}

.pe-0 {
  padding-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.ms-1 {
  margin-left: 0.25rem;
}

.ps-1 {
  padding-left: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.ps-2 {
  padding-left: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.ms-3 {
  margin-left: 1rem;
}

.ps-3 {
  padding-left: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.me-3 {
  margin-right: 1rem;
}

.pe-3 {
  padding-right: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-3 {
  margin: 1rem;
}

.p-3 {
  padding: 1rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.ps-4 {
  padding-left: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.me-4 {
  margin-right: 1.5rem;
}

.pe-4 {
  padding-right: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-4 {
  margin: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}

.ms-5 {
  margin-left: 2rem;
}

.ps-5 {
  padding-left: 2rem;
}

.mt-5 {
  margin-top: 2rem;
}

.pt-5 {
  padding-top: 2rem;
}

.me-5 {
  margin-right: 2rem;
}

.pe-5 {
  padding-right: 2rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-5 {
  margin: 2rem;
}

.p-5 {
  padding: 2rem;
}

.ms-6 {
  margin-left: 3rem;
}

.ps-6 {
  padding-left: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}

.pt-6 {
  padding-top: 3rem;
}

.me-6 {
  margin-right: 3rem;
}

.pe-6 {
  padding-right: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-6 {
  margin: 3rem;
}

.p-6 {
  padding: 3rem;
}

.ms-7 {
  margin-left: 4rem;
}

.ps-7 {
  padding-left: 4rem;
}

.mt-7 {
  margin-top: 4rem;
}

.pt-7 {
  padding-top: 4rem;
}

.me-7 {
  margin-right: 4rem;
}

.pe-7 {
  padding-right: 4rem;
}

.mb-7 {
  margin-bottom: 4rem;
}

.pb-7 {
  padding-bottom: 4rem;
}

.mx-7 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.px-7 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.my-7 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.py-7 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.m-7 {
  margin: 4rem;
}

.p-7 {
  padding: 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 1 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 1 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 1 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 1 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 1 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 1 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 1 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 1 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 1 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 1 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 1 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 1 0 auto;
    width: 100%;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-inline-flex {
    display: inline-flex;
  }

  .d-sm-none {
    display: none;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 1 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 1 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 1 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 1 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 1 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 1 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 1 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 1 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 1 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 1 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 1 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 1 0 auto;
    width: 100%;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-inline-flex {
    display: inline-flex;
  }

  .d-md-none {
    display: none;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 1 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 1 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 1 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 1 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 1 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 1 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 1 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 1 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 1 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 1 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 1 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 1 0 auto;
    width: 100%;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-inline-flex {
    display: inline-flex;
  }

  .d-lg-none {
    display: none;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 1 0 auto;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 1 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 1 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 1 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 1 0 auto;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 1 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 1 0 auto;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 1 0 auto;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 1 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 1 0 auto;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 1 0 auto;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 1 0 auto;
    width: 100%;
  }

  .d-xl-inline {
    display: inline;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-inline-block {
    display: inline-block;
  }

  .d-xl-inline-flex {
    display: inline-flex;
  }

  .d-xl-none {
    display: none;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 1 0 auto;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    flex: 1 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    flex: 1 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 1 0 auto;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    flex: 1 0 auto;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    flex: 1 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 1 0 auto;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    flex: 1 0 auto;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    flex: 1 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 1 0 auto;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    flex: 1 0 auto;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    flex: 1 0 auto;
    width: 100%;
  }

  .d-xxl-inline {
    display: inline;
  }

  .d-xxl-block {
    display: block;
  }

  .d-xxl-flex {
    display: flex;
  }

  .d-xxl-inline-block {
    display: inline-block;
  }

  .d-xxl-inline-flex {
    display: inline-flex;
  }

  .d-xxl-none {
    display: none;
  }
}
label {
  display: inline-block;
}

.form-group {
  display: flex;
  border: 1px solid #ced4da;
}

.form-group input {
  border: 0;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-span {
  padding: 0.375rem 0.75rem;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  border: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-span:not(:last-child) {
  border-right: 1px solid #ced4da;
}

.form-span:not(:first-child) {
  border-left: 1px solid #ced4da;
}

.form-input {
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: 1px solid #ced4da;
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.bg-red {
  background-color: #ffadad;
}

.text-red {
  color: #ffadad;
}

.bg-orange {
  background-color: #ffd6a5;
}

.text-orange {
  color: #ffd6a5;
}

.bg-yellow {
  background-color: #fdffb6;
}

.text-yellow {
  color: #fdffb6;
}

.bg-green {
  background-color: #caffbf;
}

.text-green {
  color: #caffbf;
}

.bg-cyan {
  background-color: #9bf6ff;
}

.text-cyan {
  color: #9bf6ff;
}

.bg-blue {
  background-color: #a0c4ff;
}

.text-blue {
  color: #a0c4ff;
}

.bg-purple {
  background-color: #bdb2ff;
}

.text-purple {
  color: #bdb2ff;
}

.bg-pink {
  background-color: #ffc6ff;
}

.text-pink {
  color: #ffc6ff;
}

.bg-white {
  background-color: #fffffc;
}

.text-white {
  color: #fffffc;
}

.bg-dark {
  background-color: #343a40;
}

.text-dark {
  color: #343a40;
}

body,
input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
GENERAL
*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */