@use "utilities/spacing";
@use "layout/grid";
@use "layout/forms";
@use "themes/theme";
@use "base/typograhpy";

@use "components/buttons";

/*
GENERAL
*/

html,
body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}
