@use "variables";

@each $breakpoint_name, $breakpoint in variables.$breakpoints {
    @media (min-width: $breakpoint) {
        @each $spacer_name, $spacer in variables.$spacers {
            @each $direction_name, $direction in variables.$directions {
                @if $direction_name == x {
                    .m#{$direction_name}-#{$breakpoint_name}-#{$spacer_name} {
                        margin-left: $spacer !important;
                        margin-right: $spacer !important;
                    }

                    .p#{$direction_name}-#{$breakpoint_name}-#{$spacer_name} {
                        padding-left: $spacer !important;
                        padding-right: $spacer !important;
                    }
                } @else if $direction_name == y {
                    .m#{$direction_name}-#{$breakpoint_name}-#{$spacer_name} {
                        margin-top: $spacer !important;
                        margin-bottom: $spacer !important;
                    }

                    .p#{$direction_name}-#{$breakpoint_name}-#{$spacer_name} {
                        padding-top: $spacer !important;
                        padding-bottom: $spacer !important;
                    }
                } @else {
                    .m#{$direction_name}-#{$breakpoint_name}-#{$spacer_name} {
                        margin-#{$direction}: $spacer !important;
                    }

                    .p#{$direction_name}-#{$breakpoint_name}-#{$spacer_name} {
                        padding-#{$direction}: $spacer !important;
                    }
                }
            }

            .m-#{$breakpoint_name}-#{$spacer_name} {
                margin: $spacer !important;
            }

            .p-#{$breakpoint_name}-#{$spacer_name} {
                padding: $spacer !important;
            }
        }
    }
}

@each $spacer_name, $spacer in variables.$spacers {
    @each $direction_name, $direction in variables.$directions {
        @if $direction_name == x {
            .m#{$direction_name}-#{$spacer_name} {
                margin-left: $spacer !important;
                margin-right: $spacer !important;
            }

            .p#{$direction_name}-#{$spacer_name} {
                padding-left: $spacer !important;
                padding-right: $spacer !important;
            }
        } @else if $direction_name == y {
            .m#{$direction_name}-#{$spacer_name} {
                margin-top: $spacer !important;
                margin-bottom: $spacer !important;
            }

            .p#{$direction_name}-#{$spacer_name} {
                padding-top: $spacer !important;
                padding-bottom: $spacer !important;
            }
        } @else {
            .m#{$direction_name}-#{$spacer_name} {
                margin-#{$direction}: $spacer !important;
            }

            .p#{$direction_name}-#{$spacer_name} {
                padding-#{$direction}: $spacer !important;
            }
        }
    }

    .m-#{$spacer_name} {
        margin: $spacer !important;
    }

    .p-#{$spacer_name} {
        padding: $spacer !important;
    }
}
