@use '../themes/colours';
@use '../utilities/mixins';

.btn {
    cursor: pointer;

    padding: 0.5em 1em;

    border: 0;
    background: transparent;

    border-radius: 0.125rem;
}

@each $name, $colour in colours.$colours {
    .btn-#{$name} {
        @include mixins.button(
            $colour,
            map-get(colours.$colours, "dark"),
            map-get(colours.$colours, "white")
        );
    }
}

.btn:active {
    cursor: wait;
}
