@use '../themes/colours';
@use '../utilities/mixins';

.button {
    cursor: pointer;

    padding: 0.375rem 0.75rem;

    border: 0;
    background: transparent;

    border-radius: 0.125rem;
}

@each $name, $colour in colours.$colours {
    .button-#{$name} {
        @include mixins.button(
            $colour,
            map-get(colours.$colours, "dark"),
            map-get(colours.$colours, "white")
        );
    }
}

.button:active {
    cursor: wait;
}
